.panel__header {
  background-color: var(--lightDark);
}

.panel__filters {
  flex: 0 0 60%;
  justify-content: end;
}

.panel__filters .form-group {
  margin: 0 5px !important;
  align-items: center;
}

.panel__filters label {
  margin: 0 10px !important;
  width: 100%;
}

.panel__filters .form-group label,
.panel__filters .form-group select {
  font-size: 14px;
  display: inline;
}

.panel__filters .form-group select {
  padding: 0 !important;
  background-color: transparent;
  border: 0;
  color: var(--textColor);
  text-transform: capitalize;
  max-width: 100px;
  width: auto;
  min-width: auto;
}

.panel__filters .form-group select option {
  color: var(--darkColor);
}

.panel__navigation {
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.panel__navigation li a {
  padding: 5px 10px;
  display: block;
  min-width: 150px;
  text-align: center;
  color: var(--textColor);
  font-weight: 400;
}

.panel__navigation li a:hover,
.panel__navigation li a.active {
  background-color: var(--themeColor);
  color: var(--whiteColor);
}
